Django==1.8.7
MySQL-python==1.2.5
Naked==0.1.31
PyYAML==3.12
bcrypt==3.1.1
cffi==1.10.0
numpy==1.12.1
pyOpenSSL==0.15.1
pycparser==2.17
pycrypto==2.6.1
pylint==1.7.1
pytz==2017.2
requests==2.14.2
shellescape==3.4.1
simplejson==3.10.0
six==1.10.0
wsgiref==0.1.2
