<h1>Informed Consent</h1>

<hr>

<p>
    Before proceeding, you (or an alternate decision make) must read the WCH consent form, and provide informed consent by signing it. A paper copy of the WCH consent form will have been provided to you by the student investigator. Take as much time as you need to review the WCH consent form and decide whether you want to participate.
</p>

<p>
    After completing the consent form, you may bring it in person to the student investigator. You will then complete a short survey collecting demographic information and will complete a first session under the supervision of the student investigator. In total, you will complete seven sessions with Talk2Me over six months. Each session will take less than 15 minutes. You will complete four of the sessions at home, using the website by yourself, or with the help of a caregiver. The remaining sessions will be completed at the clinic in the presence of a researcher.
</p>

<p>
    We may email or call you after a month has passed between sessions, to remind you to perform a session. At the end of the study, you will complete a survey, asking you questions about the website and your opinion of it. The survey will be completed in person at the clinic, and will take approximately 10 minutes. For more details on the study visits and procedures, you may refer to <a href="/{{ website_id }}/{{ wch_study }}/about">this page</a>.
</p>

<hr/>

<h3>Research Project</h3>
<p>
    The <a href="http://www.cs.toronto.edu/compling/index.html">Computational Linguistics</a> group at the <a href="http://www.cs.toronto.edu/">Department of Computer Science</a> in the <a href="http://www.utoronto.ca/">University of Toronto</a> and <a href="http://www.womenscollegehospital.ca/">Women's College Hospital</a> are conducting a study to analyze the differences in longitudinal progression of linguistic markers between healthy older adults and ones with dementia. We are interested in assessing the validity and usability of an automated web- and phone-based system ({{ website_name }}) for linguistic data acquisition, as means for longitudinal monitoring of changes in language ability. To familiarize yourself with the purpose, procedures, and risks of the project, please <a target="_blank" href="/{{ website_id }}/{{ wch_study }}/about">click here</a>.

<hr/>

<h3>Contact Information</h3>
<div class="row" style='margin-bottom: 10px;'>
    <div class="col-md-12">
        <address>
            <strong>Sheila Dunn, MD, MSc, CCFP(EM), FCFP</strong><br />
            Principal Investigator<br />
            Family Practice Health Centre of Women's College Hospital<br />
            76 Grenville Street<br />
            Toronto, Ontario M5S 1B2<br />
            416-323-6400 ext. 4977 <br />
            <a href="mailto:Sheila.Dunn@wchospital.ca">Sheila.Dunn@wchospital.ca</a><br />
        </address>
    </div>
</div>

<div class="row" style='margin-bottom: 10px;'>
    <div class="col-md-12">
        <address>
            <strong>Frank Rudzicz, PhD</strong><br />
            Co-Investigator<br />
            Toronto Rehabilitation Institute - UHN<br />
            550 University Avenue, Room 12-175<br />
            Toronto, Ontario M5G 2A2<br />
            416-597-3422 x7971<br />
            <a href="mailto:frank@cs.toronto.edu">frank@cs.toronto.edu</a><br />
        </address>
    </div>
</div>

<hr/>

<p>If you have any questions, concerns or would like to speak to the study team for any reason, please call the Principal Investigator at 416-323-6400 ext. 4977.</p>

<p>If you have any questions about your rights as a research participant or have concerns about this study, call the Chair of the Women’s College Hospital Research Ethics Board (WCH REB) or the Research Ethics office number at 416-351-3732 ext. 2723. The REB is a group of people who oversee the ethical conduct of research studies. The WCH REB is not part of the study team. Everything that you discuss will be kept confidential.</p>