{% extends "datacollector/base.html" %}

{% block title %}{{ website_name }} - Admin Dashboard{% endblock%}

{% block auth_user %}
    {% if is_authenticated %}
        Logged in as {{ user.username }} (<a href="/{{ website_id }}/logout">logout</a>)
    {% else %}
        <a href="/{{ website_id }}/login">Login</a> | <a href="/{{ website_id }}/register">New User</a>
    {% endif %}
{% endblock %}

{% block content %}

<h1>Admin Dashboard</h1>

<ol class="breadcrumb">
  <li><a href="/{{ website_id }}/uhn">Index</a></li>
  <li><a href="/{{ website_id }}/uhn/admin">Admin Dashboard</a></li>
  <li class="active">{{ study }}</li>
</ol>
<hr/>

<h2> {{ bundle.name_id }}</h2>
{{ bundle.description }}
<hr/>

<h2>Users</h2>

<table class="table table-hover">
<thead>
<tr>
<th>User ID</th>
</tr></thead>
{% for subject in subjects %}
    <tr>
        <td><a href="/{{ website_id}}/admin/{{ bundle.name_id }}/{{ subject.user_id }}">{{ subject.user_id }}</a></td>
    </tr>
{% endfor %}
</table>


{% endblock %}
