{% extends "datacollector/base.html" %}

{% block title %}DementiaWeb{% endblock%}

{% block auth_user %}
    {% if is_authenticated %}
        Logged in as {{ request.user }} (<a href="/datacollector/logout">logout</a>)
    {% else %}
        <a href="{{ request.path }}login">Login</a> | <a href="{{ request.path }}register">New User</a>
    {% endif %}
{% endblock %}

{% block content %}
    <h1>Audio Test</h1>

    <!--<div id="viz">
		<canvas id="analyser" width="1024" height="500"></canvas>
		<canvas id="wavedisplay" width="1024" height="500"></canvas>
	</div>-->
    <div id="controls">
        <input id="start_record" type="button" onClick="javascript: toggleRecording(this);" value="Start recording" />&nbsp;<span id="status_recording"></span>
		
        <!--<img id="record" src="{{ STATIC_URL }}img/mic128.png" onclick="toggleRecording(this);">-->
		<!--<a id="save" href="#"><img src="{{ STATIC_URL }}img/save.svg"></a>-->
	</div>
{% endblock %}

{% block page_js %}
    <!-- Audio libraries for wav recording -->
    <script src="{{ STATIC_URL }}js/recorder.js"></script>
    <script src="{{ STATIC_URL }}js/audiocapture_main.js"></script>
    <script src="{{ STATIC_URL }}js/audiodisplay.js"></script>
{% endblock %}
