{% extends "datacollector/base.html" %}
{% load dict_extras %}

{% block title %}{{ website_name }}{% endblock%}

{% block auth_user %}
    {% if is_authenticated %}
        Logged in as {{ user.username }} (<a href="/{{ website_id }}/logout">logout</a>)
    {% else %}
        <a href="/{{ website_id }}/login">Login</a> | <a href="/{{ website_id }}/register">New User</a>
    {% endif %}
{% endblock %}

{% block header %}
{% if not is_authenticated %}
    <header class="image-bg-fluid-height">
        <div class="container">
        <div class="row">
            <div class="header-panel">
                <h1>{{ website_name }}</h1>
                <p class="lead">Online language assessment for longitudinal monitoring of changes in cognitive ability</p>
                <hr />
                <!-- Login form directly on home page to minimize login time -->
                <form method='post' action='login'>
                    <table class="table table-condensed table-noborder">
                        <tbody>
                            <tr><td class="table-label">Username</td></tr>
                            <tr><td><input name="username" id="username" class="form-control" type="text" value="" placeholder="Username" autofocus="autofocus" /></td></tr>
                            <tr><td class="table-label">Password</td></tr>
                            <tr><td><input name="password" id="password" class="form-control" type="password" value="" placeholder="Password" /></td></tr>
                        </tbody>
                    </table>
                    
                    {% csrf_token %}
                    <div class="login-container text-right">
                        <button type="submit" class="btn btn-primary btn-lg">Login</button><br />
                    </div>
                    <div class="login-container text-right space-top-small">
                        New user? <a href="/{{ website_id }}/register">Click here to register</a>
                    </div>
                </form>
                
            </div>
            </div>
        </div>
        </div>
    </header>
{% endif %}
{% endblock %}

{% block content %}



{% if is_authenticated %}
    
    {% if not consent_submitted %}

        <h1>Informed Consent</h1>
        <hr />
        
        {% if form_errors %}
        <div class="bs-callout bs-callout-danger">
            <strong>The form could not be submitted. Please correct the following error{{ form_errors|pluralize }}:</strong>
            <ul>
            {% for err in form_errors %}
                <li>{{ err }}</li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
        
        <form action="" method="POST">
        {% csrf_token %}
        <input type='hidden' id='form_type' name='form_type' value='consent' />
        
        <h3>Research Project</h3>
        <p>The <a href="http://www.cs.toronto.edu/compling/index.html">Computational Linguistics</a> group at the <a href="http://www.cs.toronto.edu/">Department of Computer Science</a> in the <a href="http://www.utoronto.ca/">University of Toronto</a> is conducting a study to analyze the differences in longitudinal progression of linguistic markers between healthy older adults and ones with dementia. We are interested in assessing the validity and usability of an automated web-based system ({{ website_name }}) for linguistic data acquisition, as means for longitudinal monitoring of changes in language ability. To familiarize yourself with the purpose, procedures, and risks of the project, please <a target="_blank" href="/{{ website_id }}/about">click here</a>. When you have carefully read the linked document, you can proceed with the consent form below.</p>

        <h3>Contact Information</h3>
        
        <div class="row" style='margin-bottom: 10px;'>
            <div class="col-md-12">
                <address>
                <strong>Maria Yancheva, MSc Candidate</strong><br />
                Principal Investigator<br />
                D. L. Pratt Bldg<br />
                6 King's College Road, Room PT276 D3<br />
                Toronto, Ontario M5S 3G8<br />
                416-830-2434<br />
                <a href="mailto:yancheva@cs.toronto.edu">yancheva@cs.toronto.edu</a><br />
                </address>
            </div>
        </div>
        
        <div class="row" style='margin-bottom: 10px;'>
            <div class="col-md-12">
                <address>
                <strong>Frank Rudzicz, PhD</strong><br />
                Faculty Supervisor<br />
                Toronto Rehabilitation Institute - UHN<br />
                550 University Avenue, Room 12-175<br />
                Toronto, Ontario M5G 2A2<br />
                416-597-3422 x7971<br />
                <a href="mailto:frank@cs.toronto.edu">frank@cs.toronto.edu</a><br />
                </address>
            </div>
        </div>

        <p><u>If you have any questions regarding your rights as a research participant, you can contact the Office of Research Ethics (<a href="mailto:ethics.review@utoronto.ca">ethics.review@utoronto.ca</a> or +1 416-946-3273).</u></p>
        
        <p>The purpose, procedures and risks of the project have been explained to me and I fully understand them. I have been given the chance to ask questions and these were answered to my satisfaction. I understand that I am free to ask questions about the study at any time.</p>

        <p>I understand that I will be asked to complete a demographic questionnaire prior to participation in the study, participate in one or more sessions consisting of questions testing cognitive ability, and complete an optional post-study usability questionnaire. The data collected as part of this study will be used for research purposes only, and will be retained for an indefinite length of time to facilitate future research.</p>

        <p>I understand that my participation is voluntary and that I may withdraw from the study at any time, either by contacting the investigators directly or through the website. I understand that all personal information and data recorded up to that point will be destroyed immediately. I also understand that in no way my acceptance to participate or my withdrawal from participation will affect my interests in any way.</p>

        <div class="consent-main">
            <div class="consent-container">
                <div class="radio">
                    <label><input name='radio_consent' type='radio' value="participant"{% if form_values.radio_consent == 'participant' %} checked="checked"{% endif %} />&nbsp;<strong>I am the participant, I have read the entire consent form, and I consent to participate in this study</strong></label>
                </div>
                <div class="radio">
                    <label><input name='radio_consent' type='radio' value="alternate"{% if form_values.radio_consent == 'alternate' %} checked="checked"{% endif %} />&nbsp;<strong>I am an alternate decision maker who has read the entire consent form, and I provide consent on behalf of the participant. The participant has read the entire consent form and assents to participate in this study</strong></label>
                </div>
            </div>
        </div>
        
        <br />
        <p>The following selections are optional, but would greatly benefit research outcomes:</p>
        <div class="checkbox">
            <label><input id='cb_preference_public_release' name='cb_preference_public_release' type='checkbox'{% if 'cb_preference_public_release' in form_values %} checked='checked'{% endif %} />&nbsp;<strong>In the event that the data recorded in this study is made public for research purposes, I agree to include my data, provided that all data is presented anonymously (i.e., my username and email address are not disclosed).</strong> I understand that the nature of the language data I provide during the study (e.g., audio recordings) may itself be used to discover my identity.</label>
        </div>
        
        <div class="checkbox">
            <label><input id='cb_preference_email_reminders' name='cb_preference_email_reminders' type='checkbox'{% if 'cb_preference_email_reminders' in form_values %} checked='checked'{% endif %} onClick="javascript: showCbDetails(this);">&nbsp;<strong>I wish to receive scheduled e-mail reminders (e.g., monthly) to complete new sessions on the website (each session takes approximately 15 minutes).</strong> I understand that I can easily unsubscribe from such communications at any time, either through the "Unsubscribe" link located in each e-mail, or through the website. Requested communications will be sent to my e-mail address, which will <u>not</u> be shared with any third parties or used for commercial purposes.</label>
        </div>
        <div id="detail_preference_email_reminders"{% if 'cb_preference_email_reminders' not in form_values %} class="invisible"{% endif %} style="margin-left: 20px;">
            Frequency: 
            <div class="radio" style="display: inline; margin-left: 10px; margin-bottom: 15px;">
                <label class="radio-inline"><input type="radio" name="radio_email_reminders_freq" value="7"{% if form_values.radio_email_reminders_freq == '7' %} checked="checked"{% endif %} /> Weekly</label>
                <label class="radio-inline"><input type="radio" name="radio_email_reminders_freq" value="30"{% if form_values.radio_email_reminders_freq == '30' %} checked="checked"{% endif %}{% if 'radio_email_reminders_freq' not in form_values %} checked="checked"{% endif %} /> Monthly</label>
                <label class="radio-inline"><input type="radio" name="radio_email_reminders_freq" value="365"{% if form_values.radio_email_reminders_freq == '365' %} checked="checked"{% endif %} /> Annually</label>
            </div>
        </div>
        
        <div class="checkbox">
            <label><input id='cb_preference_email_updates' name='cb_preference_email_updates' type='checkbox'{% if 'cb_preference_email_updates' in form_values %} checked='checked'{% endif %} />&nbsp;<strong>I wish to receive electronic communication regarding study outcomes, updates and research publications</strong> based on the data collected as part of this study. I understand that I can easily unsubscribe from such communications at any time, either through the "Unsubscribe" link located in each e-mail, or through the website. Requested communications will be sent to my e-mail address, which will <u>not</u> be shared with any third parties or used for commercial purposes.</label>
        </div>
        <br />
        
        <div>
            E-mail address: <input class="form-control" id='email_address' name='email_address' style='width: 250px;' type='text' value="{{ form_values.email_address }}">
        </div>
        <br />

        <button type="button" onClick="javascript: formSubmit(this);" class="btn btn-primary btn-lg">Submit</button>
        </form>
        
    {% else %}
    {% if not demographic_submitted %}
    
        <h1>Demographic Data</h1>
        <hr />
        
        {% if form_errors %}
        <div class="bs-callout bs-callout-danger">
            <strong>The form could not be submitted. Please correct the following error{{ form_errors|pluralize }}:</strong>
            <ul>
            {% for err in form_errors %}
                <li>{{ err }}</li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}
        
        <p>Please provide the following anonymous demographic data, which will aid the analysis of your results.</p>
        
        <form action="" method="POST">
        {% csrf_token %}
        <input type='hidden' id='form_type' name='form_type' value='demographic' />
        <ol>
            <li><strong>Gender:</strong><br />
                {% for opt in gender_options %}
                <div class="radio">
                    <label class="radio"><input type="radio" name="gender" value="{{ opt.gender_id }}"{% ifequal form_values.gender opt.gender_id %} checked="checked"{% endifequal %}> {{ opt.name }}</label>
                </div>
                {% endfor %}
            </li>
            
            <li><strong>Date of birth (YYYY-MM-DD):</strong><br />
            
                <input id="dob" class="form-control datefield" name="dob" type='text' value="{{ form_values.dob }}" style="width: 150px; margin-top: 5px;" placeholder="YYYY-MM-DD" />
                
            </li>
            
            <li><strong>People in Canada come from many racial or cultural groups. You may belong to more than one group on the following list. Are you:</strong><br />
                {% for opt in ethnicity_options %}
                <div class="checkbox">
                    <label class="checkbox"><input type="checkbox" name="ethnicity" value="{{ opt.ethnicity_id }}"{% if opt.ethnicity_id in form_ethnicity %} checked="checked"{% endif %}> {{ opt.name }}</label>
                </div>
                {% endfor %}
            </li>
            
            <li><strong>Select all languages you can communicate in (speak, understand, read, and write), along with the level of fluency for each:</strong><br />
                <table class="table" id="language_selection">
                <thead><tr><th style="width: 40%;">Language</th><th style="width: 60%;">Fluency</th></tr></thead>
                <tbody>
                {% for opt in language_options %}
                <tr>
                    <td><div class="checkbox">
                        <label><input type="checkbox" name="language" value="{{ opt.language_id }}"{% if opt.language_id in dict_language.keys %} checked="checked"{% endif %}> {{ opt.name }}</label>
                    </div></td>
                    <td>
                    {% for detail_opt in language_fluency_options %}
                        <div class="radio">
                            <label><input type="radio" name="language_fluency_{{ opt.language_id }}" value="{{ detail_opt.language_level_id }}"{% ifequal dict_language|hash:opt.language_id|add:"0" detail_opt.language_level_id|add:"0" %} checked="checked"{% endifequal %} onClick="javascript: selectCorrespondingLanguage(this);"> {{ detail_opt.name }}</label>
                        </div>
                    {% endfor %}
                    </td>
                </tr>
                {% endfor %}
                
                {% for lang_id, level_id in dict_language_other.items %}
                <tr>
                    <td>
                        <select name="language_other" class="form-control">
                        <option value="">Select another language...</option>
                        {% for other_opt in language_other %}
                            <option value="{{ other_opt.language_id }}"{% ifequal lang_id|add:"0" other_opt.language_id|add:"0" %} selected="selected"{% endifequal %}>{{ other_opt.name }}</option>
                        {% endfor %}
                        </select>
                    </td>
                    <td>
                        {% for detail_opt in language_fluency_options %}
                            <div class="radio">
                                <label><input type="radio" name="other_fluency_{{ forloop.parentloop.counter }}" value="{{ detail_opt.language_level_id }}"{% ifequal level_id|add:"0" detail_opt.language_level_id|add:"0" %} checked="checked"{% endifequal %}> {{ detail_opt.name }}</label>
                            </div>
                        {% endfor %}
                    </td>
                </tr>
                {% endfor %}
                
                <tr>
                    <td>
                        <select name="language_other" class="form-control">
                        <option value="">Select another language...</option>
                        {% for other_opt in language_other %}
                            <option value="{{ other_opt.language_id }}">{{ other_opt.name }}</option>
                        {% endfor %}
                        </select>
                    </td>
                    <td>
                    {% for detail_opt in language_fluency_options %}
                        <div class="radio">
                            <label><input type="radio" name="other_fluency_{{ dict_language_other|length|add:'1' }}" value="{{ detail_opt.language_level_id }}"> {{ detail_opt.name }}</label>
                        </div>
                    {% endfor %}
                    </td>
                </tr>
                </tbody></table>
                <a href="javascript: void(0);" onClick="javascript: demographicsAddLanguage(this);">Add Another Language</a>
            </li>
            
            <li><strong>Education level (highest completed, or currently being completed)</strong><br />
                {% for opt in education_options %}
                <div class="radio">
                    <label class="radio"><input type="radio" name="education_level" value="{{ opt.education_level_id }}"{% ifequal form_values.education_level|add:"0" opt.education_level_id|add:"0" %} checked="checked"{% endifequal %}> {{ opt.name }}</label>
                </div>
                {% endfor %}
            </li>
            
            <li><strong>Have you ever been diagnosed with dementia? If yes, please select all applicable types:</strong><br />
                {% for opt in dementia_options %}
                <div class="checkbox">
                    <label class="checkbox"><input type="checkbox" name="dementia_type" value="{{ opt.dementia_type_id }}"{% if opt.dementia_type_id|to_int in form_values|getlist:'dementia_type'|to_int %} checked="checked"{% endif %}> {{ opt.name }}
                    {% if opt.requires_detail %}
                    {% with det='dementia_type_detail_'|str_concat:opt.dementia_type_id %}
                    : <input name="dementia_type_detail_{{ opt.dementia_type_id }}" type="text" value="{{ form_values|hash:det }}" />
                    {% endwith %}
                    {% endif %}
                    </label>
                </div>
                {% endfor %}
            </li>
            
            <li class="detail_dementia"><strong>Do you currently take any medications for dementia?</strong><br />
                <div class="radio">
                    <label class="radio"><input type="radio" name="dementia_med" value="yes"{% ifequal form_values.dementia_med "yes" %} checked="checked"{% endifequal %}> Yes</label>
                </div>
                <div class="radio">
                    <label class="radio"><input type="radio" name="dementia_med" value="no"{% ifequal form_values.dementia_med "no" %} checked="checked"{% endifequal %}> No</label>
                </div>
            </li>
            
            <li><strong>Have you been a regular smoker (of tobacco) within the last 3 years?</strong><br />
                <div class="radio">
                    <label class="radio"><input type="radio" name="smoking" value="yes"{% ifequal form_values.smoking "yes" %} checked="checked"{% endifequal %}> Yes</label>
                </div>
                <div class="radio">
                    <label class="radio"><input type="radio" name="smoking" value="no"{% ifequal form_values.smoking "no" %} checked="checked"{% endifequal %}> No</label>
                </div>
            </li>
            
            <li><strong>Country you were born in:</strong><br />
                <select name="country_origin" class="form-control" style="width: 300px; margin-top: 5px;">
                    <option value="">Select country...</option>
                    {% for opt in country_res_options %}
                        <option value="{{ opt.country_id }}"{% ifequal form_values.country_origin|add:"0" opt.country_id|add:"0" %} selected="selected"{% endifequal %}>{{ opt.name }}</option>
                    {% endfor %}
                </select>
            </li>
            
            <li><strong>Country you currently reside in:</strong><br />
                <select name="country_res" class="form-control" style="width: 300px; margin-top: 5px;">
                    <option value="">Select country...</option>
                    {% for opt in country_res_options %}
                        <option value="{{ opt.country_id }}"{% ifequal form_values.country_res|add:"0" opt.country_id|add:"0" %} selected="selected"{% endifequal %}>{{ opt.name }}</option>
                    {% endfor %}
                </select>
            </li>
            
        </ol>
        
        <button class="btn btn-primary btn-lg" type="button" onClick="javascript: formSubmit(this);">Submit</button>
        </form>

    {% else %}
    
        <h1>Index</h1>
        <p>
        
        <hr/>
        <div class="support_html5 bs-callout bs-callout-danger invisible">
            {{ website_name }} requires a modern browser which supports HTML5. You are using a browser which does not support this technology. <strong>To use {{ website_name }}, please download the latest version of <a href="https://www.google.com/chrome/browser/desktop/index.html" target="_blank">Chrome</a> or <a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">Firefox</a></strong>. You cannot continue existing sessions, or create new ones, until you update your browser.<br />
            <a href="https://www.google.com/chrome/browser/desktop/index.html" target="_blank"><img src="{{ STATIC_URL }}img/chrome.png" style="height: 40px; margin: 5px; border-bottom: 1px dotted #333" /></a>
            <a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank"><img src="{{ STATIC_URL }}img/firefox.png" style="height: 40px; margin: 5px; border-bottom: 1px dotted #333" /></a>
        </div>
        
        <div class="unsupported_html5">
            <h4><a href="/{{ website_id }}/startsession" onClick="preventResubmission(this, '');">Start a new session</a><span class="ajax_loader invisible"><img src="{{ STATIC_URL }}img/ajax_loader.gif" /> <span class="ajax_loader_msg"></span></span></h4>
        </div>
        
            {% if active_sessions %}
            <div class="unsupported_html5">
                <hr/>        
                <h4>Active sessions:</h4>
                    <table class='table table-striped' style='width: 100%;'>
                    <thead><tr><th style='width: 20%;'>Session ID</th><th style='width: 30%;'>Start Date</th><th style='width: 30%;'></th></tr></thead>
                    <tbody>
                    {% for session in active_sessions %}
                        <tr><td>{{ session.session_id }}</td><td>{{ session.start_date }}</td><td><a href="/{{ website_id }}/session/{{ session.session_id }}">Continue session</a></td></tr>
                    {% endfor %}
                    </tbody>
                    </table>
            </div>
            {% endif %}
            

            {% if completed_sessions %}
            <hr/>        
            <h4>Completed sessions:</h4>
                <table class='table table-striped' style='width: 100%;'>
                <thead><tr><th style='width: 20%;'>Session ID</th><th style='width: 30%;'>Start Date</th><th style='width: 30%;'>End Date</th></tr></thead>
                <tbody>
                {% for session in completed_sessions %}
                    <tr><td>{{ session.session_id }}</td><td>{{ session.start_date }}</td><td>{{ session.end_date }} (<a href="/{{ website_id }}/session/{{ session.session_id }}">View</a>)</td></tr>
                {% endfor %}
                </tbody>
                </table>
            {% endif %}
        </ul>
        </p>
    {% endif %} <!-- ends demographic if -->
    {% endif %} <!-- ends consent if -->
    
{% else %}

    <div class="support_html5 bs-callout bs-callout-danger invisible">
        {{ website_name }} requires a modern browser which supports HTML5. You are using a browser which does not support this technology. <strong>To use {{ website_name }}, please download the latest version of <a href="https://www.google.com/chrome/browser/desktop/index.html" target="_blank">Chrome</a> or <a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">Firefox</a></strong>.<br />
        <a href="https://www.google.com/chrome/browser/desktop/index.html" target="_blank"><img src="{{ STATIC_URL }}img/chrome.png" style="height: 40px; margin: 5px; border-bottom: 1px dotted #333" /></a>
        <a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank"><img src="{{ STATIC_URL }}img/firefox.png" style="height: 40px; margin: 5px; border-bottom: 1px dotted #333" /></a>
    </div>
    
    <div>
        <a href="http://www.utoronto.ca/"><img class="logo logo-first" src="{{ STATIC_URL }}img/uoft_logo_web.jpg" /></a> <a href="http://www.nserc-crsng.gc.ca/"><img class="logo" src="{{ STATIC_URL }}img/nserc_logo_web.jpg" /></a>
    </div>
{% endif %}

{% endblock %}
