{% extends "datacollector/base.html" %}

{% block title %}Data Collector - Index{% endblock%}

{% block auth_user %}
    {% if is_authenticated %}
        Logged in as {{ user.username }} (<a href="/datacollector/logout">logout</a>)
    {% else %}
        <a href="{{ request.path }}login">Login</a> | <a href="{{ request.path }}register">New User</a>
    {% endif %}
{% endblock %}

{% block content %}

<h1>Data Collector - Index</h1>

<p>
{% if is_authenticated %}
    
    <hr/>

    {% if not consent_submitted %}

    <form action="" method="POST">
    {% csrf_token %}
    <input type='hidden' id='form_type' name='form_type' value='consent' />

    <h4>Informed Consent</h4>

    <h5>Research Project</h5>
    <p>Analysis of the differences in longitudinal progression of linguistic markers between healthy participants and ones with dementia of the Alzheimer’s type. Evaluation of validity and usability of an automated web-based system for linguistic data collection used in longitudinal monitoring of progression of changes in language ability.</p>

    <h5>Contact Information</h5>
    <p>
    <dl>
        <dt>Maria Yancheva</dt><dd>yancheva@cs.toronto.edu</dd>
        <dt>Dr. Frank Rudzicz</dt><dd>frank@cs.toronto.edu</dd>
    </dl>
    </p>

    <p>The purpose, procedures and risks of the project have been explained to me and I fully understand them. I have been given the chance to ask questions and these were answered to my satisfaction. I understand that I am free to ask questions about the study at any time.</p>

    <p>I understand that I will be asked to complete a demographic questionnaire prior to participation in the study, participate in one or more sessions consisting of questions testing cognitive ability, and complete a post-study usability questionnaire. The data collected as part of this study will be used for research purposes only, and will be retained for an indefinite length of time to facilitate future research. In the event that the data recorded in this study is made public, I agree to include my data, provided that all data is recorded and presented anonymously with no personally identifiable information.</p>

    <p>I understand that my participation is voluntary and that I may withdraw from the study at any time, either by contacting the investigator directly or through the website. I understand that all personal information and data recorded up to that point will be destroyed immediately. I also understand that in no way my acceptance to participate or my withdrawal from participation will affect my interests in any way.</p>

    <p><input id='cb_consent' name='cb_consent' type='checkbox'>&nbsp;<strong>I have read the entire consent form and I consent to participate in this study</strong></p>
    <p><input id='cb_preference_email' name='cb_preference_email' type='checkbox'>&nbsp;<strong>I wish to receive electronic communication regarding study outcomes, updates and research publications</strong> based on the data collected as part of this study. I understand that I can unsubscribe from such communications at any time, either through the “Unsubscribe” link located in each e-mail, or through the website. Requested communications will be sent to this e-mail address, which will not be shared with any third parties or used for commercial purposes:<br/><input id='preference_email' name='preference_email' style='width: 200px;' type='text' value=''></p>

    <input class='button' type='submit' value='Submit' />    
    </form>

    {% else %}
    {% if not demographic_submitted %}
    
    <h4>Demographic Data</h4>
    
    <p>Please provide the following anonymous demographic data, which will aid the analysis of your results.</p>
    
    <form action="" method="POST">
    {% csrf_token %}
    <input type='hidden' id='form_type' name='form_type' value='demographic' />
    <ol>
        <li><span>Gender</span><br />
            {% for opt in gender_options %}
            <input type="radio" name="gender" value="{{ opt.gender_id }}"> {{ opt.name }}<br />            
            {% endfor %}
        </li>
        
        <!--
        <li><span>Date of birth</span><br />
            <input type='text' class='datefield' value="" />
        </li>
        -->
        
        <li>Spoken languages<br />
            {% for opt in language_options %}
            <input type="checkbox" name="language" value="{{ opt.language_id }}"> {{ opt.name }}<br />            
            {% endfor %}
        </li>
        
        <!--
        <li>Country
        
        </li>
        
        <li>Education level (highest completed, or currently being completed)
        
        </li>
        
        <li>Have you ever been diagnosed with dementia? If yes, please select all applicable types:
        
        </li>
        
        <li>Ethnicity
        
        </li>
        -->
    </ol>
    
    <input class='button' type='submit' value='Submit' />
    </form>

    {% else %}
    <h4><a href="{{ request.path }}startsession">Start a new session</a></h4>
    
    
        {% if active_sessions %}
        <hr/>        
        <h4>Active sessions:</h4>
            <table class='table table-striped' style='width: 100%;'>
            <thead><tr><th style='width: 20%;'>Session ID</th><th style='width: 30%;'>Start Date</th><th style='width: 30%;'></th></tr></thead>
            <tbody>
            {% for session in active_sessions %}
                <tr><td>{{ session.session_id }}</td><td>{{ session.start_date }}</td><td><a href="{{ request.path }}session/{{ session.session_id }}">Continue session</a></td></tr>
            {% endfor %}
            </tbody>
            </table>
        </li>
        {% endif %}
        

        {% if completed_sessions %}
        <hr/>        
        <h4>Completed sessions:</h4>
            <table class='table table-striped' style='width: 100%;'>
            <thead><tr><th style='width: 20%;'>Session ID</th><th style='width: 30%;'>Start Date</th><th style='width: 30%;'>End Date</th></tr></thead>
            <tbody>
            {% for session in completed_sessions %}
                <tr><td>{{ session.session_id }}</td><td>{{ session.start_date }}</td><td>{{ session.end_date }} (<a href="{{ request.path }}session/{{ session.session_id }}">View</a>)</td></tr>
            {% endfor %}
            </tbody>
            </table>
        </li>
        {% endif %}
    </ul>
    {% endif %}
    {% endif %}
{% else %}
    <a href="{{ request.path }}login">Login</a> | <a href="{{ request.path }}register">New User</a>
{% endif %}
</p>

{% endblock %}
