{% extends "datacollector/base.html" %}

{% block title %}{{ website_name }} - Login{% endblock%}

{% block auth_user %}
    <a href="/{{ website_id }}/login">Login</a> | <a href="/{{ website_id }}/register">New User</a>
{% endblock %}

{% block content %}

<h1>Login</h1>

<!-- Form validation errors -->
{% if form.errors %}
<div class="bs-callout bs-callout-danger">
    Login error{{ form.errors|pluralize }}: please correct the error{{ form.errors|pluralize }} in red below.
</div>

{% else %}
<!-- Authentication errors -->    
    {% if errors %}
    <div class="bs-callout bs-callout-danger">
        Authentication error{{ errors|pluralize }}:
        <ul>
            {% for error in errors %}
            <li>{{ error }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

{% endif %}



<form method='post' action=''>
    <table class='table'>
        {{ form.as_table }}
    </table>
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Submit</button>
    <!--<input type='submit' value='Submit'>-->
</form>

{% endblock %}
