{% extends "datacollector/base.html" %}
{% load form_fields %}

{% block title %}{{ website_name }} - Register New Account{% endblock%}

{% block auth_user %}
    <a href="/{{ website_id }}/login">Login</a> | <a href="/{{ website_id }}/register">New User</a>
{% endblock %}

{% block content %}
<h1>Register New Account</h1>

<!-- Form validation errors -->
{% if form.errors %}
    <div class="bs-callout bs-callout-danger">
        Registration error{{ form.errors|pluralize }}: please correct the errors in red below.
    </div>
{% endif %}

<form action="" method="POST">
    <table class="table table-condensed table-noborder login-container">
        <tbody>
        {% for field in form %}
            <tr><td class="table-label">{{ field.label }}</td></tr>
            {% if forloop.first %}
                <tr><td>{{ field|addcss:"form-control,autofocus:autofocus" }} <div class='form-helptext small'>{{ field.help_text }}</div> {{ field.errors }}</td></tr>
            {% else %}
                <tr><td>{{ field|addcss:"form-control" }} <div class='form-helptext small'>{{ field.help_text }}</div> {{ field.errors }}</td></tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    {% csrf_token %}
    
    {% if bundle_id and bundle_token %}
    <input type="hidden" id="bundle_id" name="bundle_id" value="{{ bundle_id }}" />
    <input type="hidden" id="bundle_token" name="bundle_token" value="{{ bundle_token }}" />
    {% endif %}
    <button type="submit" class="btn btn-primary btn-lg">Create account</button>
</form>


{% endblock %}
