{% extends "datacollector/base.html" %}

{% block title %}{{ website_name }} - Register New Account{% endblock%}

{% block auth_user %}
    <a href="/{{ website_id }}/login">Login</a> | <a href="/{{ website_id }}/register">New User</a>
{% endblock %}

{% block content %}
<h1>Register New Account</h1>

<!-- Form validation errors -->
{% if form.errors %}
    <div class="bs-callout bs-callout-danger">
        Registration error{{ form.errors|pluralize }}: please correct the errors in red below.
    </div>
{% endif %}

<form action="" method="POST">
    <table class="table">
        {{ form.as_table }}
    </table>
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Create account</button>
</form>


{% endblock %}
