#
# This file contains the necessary per-instance MySQL configuration.

[client]
port		= 40143
socket		= /u/spoclabweb/site/conf/run/mysqld.sock

[mysqld_safe]
socket		= /u/spoclabweb/site/conf/run/mysqld.sock

[mysqld]
port		= 40143
socket		= /u/spoclabweb/site/conf/run/mysqld.sock
pid-file	= /u/spoclabweb/site/conf/run/mysqld.pid
datadir		= /u/spoclabweb/site/db

# Include the system-wide configuration:
!include /cs/htdata/user-webserver/conf/my-common.cnf
