{% extends "datacollector/base.html" %}

{% block title %}{{ website_name }} - Admin Dashboard{% endblock%}

{% block auth_user %}
    {% if is_authenticated %}
        Logged in as {{ user.username }} (<a href="/{{ website_id }}/logout">logout</a>)
    {% else %}
        <a href="/{{ website_id }}/login">Login</a> | <a href="/{{ website_id }}/register">New User</a>
    {% endif %}
{% endblock %}

{% block content %}

<h1>Admin Dashboard</h1>

<ol class="breadcrumb">
  <li><a href="/{{ website_id }}/uhn">Index</a></li>
  <li><a href="/{{ website_id }}/uhn/admin">Admin Dashboard</a></li>
  <li class="active">{{ bundle.name_id }}</li>
</ol>

<hr/>

<h2>Users</h2>

<table class="table table-hover">
<thead>
<tr>
<th>User ID</th>
<th>Consent</th>
<th>Sessions</th>
</tr></thead>
{% for subject in subjects %}
    <tr>
        <td>{{ subject.user_id }}</td>
        <td>
        {% if subject.date_consent_submitted %}
            Consent submitted on {{ subject.date_consent_submitted }}
            {% if subject.consent_alternate %}
                (ADM)
            {% endif %}
        {% else %}
            <a data-toggle="modal" data-target="#consentModal" >Add consent</a>

            <div id="consentModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">Add consent to user {{subject.user_id}}</div>
                        <form method="post" action={{ bundle.name_id }}>
                        {% csrf_token %}
                            <input type="hidden" id="form_type" name="form_type" value="consent" />
                            <input type="hidden" id="subject_id" name="subject_id" value="{{ subject.user_id }}" />
                            <div class="modal-body">
                                    <div class="checkbox">
                                        <label><input type="checkbox" id="consent_submitted" name="consent_submitted">Consent submitted</label>
                                    </div>
                                    <div class="checkbox">
                                        <label><input type="checkbox" id="is_alternate_decision_maker" name="is_alternate_decision_maker">Alternate decision maker</label>
                                    </div>
                            </div>
                            {% csrf_token %}
                            <div class="modal-footer">
                                <button class="btn btn-primary" type="submit">Submit</button>
                                <button type="btn" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
        </td>
        <td>
        {% if subject.sessions_created %}
            <button type="btn" class="btn btn-sm btn-primary" disabled>Generate sessions</button>
            <a><button type="btn" class="btn btn-sm btn-default">View sessions</button></a>
        {% else %}
            <form method="post" action="{{ bundle.name_id }}">
            {% csrf_token %}
                <input type="hidden" id="form_type" name="form_type" value="sessions" />
                <input type="hidden" id="subject_id" name=subject_id value="{{ subject.user_id }}" />
                <button type="submit" class="btn btn-sm btn-primary">Generate sessions</button>
                <button type="btn" class="btn btn-sm btn-default" disabled>View sessions</button>
            </form>
            
        {% endif %}
        </td>
    </tr>
{% endfor %}
</table>


{% endblock %}
