body:after{
    display:none;
    content: url('../img/rosetta_stone.jpg') url('../img/uoft_logo_web.jpg') url('../img/nserc_logo_web.jpg');
}

body, p, div, span {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
} 

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}

h4 {
    font-weight: 700;
}

textarea, input[type=text], input[type=password] {
    font-size: 18px;
}

.font-bold {
    font-weight: bold;
}

.btn-red, .btn-red:hover, .btn-red:active {
    color: #d9534f;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.btn-green, .btn-green:hover, .btn-green:active {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.btn-green:hover {
    background-color: #e9fae1;
}

.btn-red:hover {
    background-color: #f7e3e3;
}

.image-bg-fluid-height,
.image-bg-fixed-height {
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.image-bg-fluid-height {
	background: url('../img/rosetta_stone.jpg') no-repeat center center scroll;
    padding: 100px 0;
}

.image-bg-fixed-height {
	background: url('http://lorempixel.com/g/1920/500/') no-repeat center center scroll;
    height: 450px;
}

.img-center {
	margin: 0 auto;
}

header {
    height: auto;
    width: 100%;
}

.header-panel {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding: 50px;
    color: rgb(50, 50, 50);
    background-color: rgba(255, 255, 255, 0.7);
}

.header-panel hr {
    border: 1px solid #fff;
}

.table-noborder tbody tr td {
    border: 0px;
}

.table-label {
    font-weight: bold;
}

ol li {
    margin-bottom: 20px;
}

ol li img {
    vertical-align: top;
}

ol.breadcrumb li {
    margin-bottom: auto;
}

.logo {
    margin: 30px;
    margin-bottom: 10px;
    height: 80px;
}

.logo-first {
    margin-left: 0px;
}

.logo-last {
    margin-right: 0px;
}

.space-bottom-small {
    margin-bottom: 10px;
}

.space-bottom-med {
    margin-bottom: 20px;
}

.space-top-med {
    margin-top: 20px;
}

.space-top-small {
    margin-top: 10px;
}

.task-instance {
    margin-bottom: 20px;
}  

.task-instance img {
    margin-bottom: 20px;
}

.invisible {
    display: none;
}

.form-helptext {
    margin-top: 5px;
}

.btn-fixedwidth {
    width: 200px;    
}

/* Form errors - these are handled outside of the form, so hide the inline errors in the form html */
.errorlist {
    list-style-type: none;
    color: #ff0044;
    font-weight: bold;
    padding-left: 0;
    margin-top: 5px;
}

/* Timer display */
.timer_display {
    font-weight: bold;
    color: #00cc00;
    font-size: 24px;
}

.input-disabled {
    background-color: #eee;
}

#ajax_loader {
    font-style: italic;
    margin-left: 5px;
    font-size: 12px;
}


/* Table of contents for a page */
.toc {
    background-color: #f1f1f1;
    border: 0px solid #f00;
}

.toc .container {
    border: 0px solid #000;
    padding: 0;
    margin: 15px;
}

.toc ol {
    font-size: 22px;
}

.toc ol li {
    line-height: 0.8;
}

.toc a {
    font-size: 22px;
}

/* Since there's a header, offset the anchor links by the height of the header, 
 * in order to see the anchor *below* the header.
 */
.anchor {
    display: block;
    position: relative;
    top: -60px;
    visibility: hidden;
}

.anchor-title {    
    margin-top: 0.67em;
    margin-bottom: 0.67em;
}

.anchor-title h3 {
    display: inline;
}

.anchor-title a {
    margin-left: 5px;
}

/* Consent form styling of main selections */
.consent-main {
    background-color: #f0f7fd;
    border: 1px solid #d0e3f0;
}

.consent-main .consent-container {
    margin: 10px;
}

/* Side notes for calling out things
-------------------------------------------------- */
 
/* Base styles (regardless of theme) */
.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}
 
/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}
.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}
.bs-callout-info {
  background-color: #f0f7fd;
  border-color: #d0e3f0;
}

/* Links that are inactive to prevent resubmission */
.ajax_loader {
    margin-left: 10px;
}
.not-active {
   pointer-events: none;
   cursor: default;
}

.stroop-slide {
    text-align: center;
    height: 200px;
}

/* Customize the background of a jQuery modal dialog */
.ui-widget-overlay {
    opacity: .93;
    filter:Alpha(Opacity=93);
}


/* Dropdown notification menu. dropdown-toggle is the icon that you click; dropdown-notifications is the actual dropdown. */
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.dropdown-toggle, .dropdown-toggle:visited {
    cursor: pointer;
    color: #888;
    text-decoration: none;
}

.dropdown-toggle:hover {
    color: #fff;
    text-decoration: none;
}

.dropdown-toggle:active {
    color: #fff;
}

.dropdown-label-new {
    font-size: 10px; 
    position: relative; 
    left: 0px;
    top: -10px; 
    background-color: #ff0000; 
    color: #fff;
}

.dropdown-label-seen {
    background-color: none;
}

.dropdown-notifications {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0px;
    width: 350px;
    font-size: small;
    color: #333;
    left: -8px;
    top: 30px;
}

.dropdown-notifications tr {
    background-color: #f0f7fd;
}

.dropdown-notifications tr:hover {
    background-color: #d0e3f0;
}

.dropdown-notifications tr td {
    padding: 5px;
    vertical-align: top;
    text-align: left;
}

.dropdown-menu:before {
  position: absolute;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-menu:after {
  position: absolute;
  top: -6px;
  left: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}

.dropdown-notifications tbody tr.no-notif {
    background-color: #fff;
}
.dropdown-notifications tbody tr.no-notif:hover {
    background-color: #fff;
}

.dropdown-notifications tbody tr.notifications-link {
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    color: #555;
    font-weight: 300;
    background-color: #fff;
}

.dropdown-notifications tbody tr.notifications-link:hover {
    background-color: #fff;
    color: #222;
}

.clickable-row {
    cursor: pointer;
}


