img.oise-picture-description {
    max-height: 400px;
}

img.oise-recording-active {
    height: 40px;
}

img.oise-recording-inactive {
    height: 40px;
}

.oise-start-button {
    text-align: center;
}

.oise-task_instance {
    font-size: 22px;
}

.oise-task-instance-prompt {
    font-size: 22px;
}

.oise-task-instance-prompt .well {
    font-size: 22px;
}

.oise-questionnaire {
    font-size: 22px;
}

.oise-task-name {
    font-weight: bold;
    font-size: 36px;
}